% arara: lualatex
\documentclass[landscape]{article}

\usepackage[paperwidth=2.5cm, paperheight=1cm]{geometry}

\usepackage[table]{xcolor}

{{=| |=}}
\definecolor{bg0}{HTML}{|d1|}
\definecolor{bg1}{HTML}{|d2|}
\definecolor{bg2}{HTML}{|c1|}
\definecolor{fg0}{HTML}{|c2|}
\definecolor{fg1}{HTML}{|l1|}
\definecolor{fg2}{HTML}{|l2|}
\definecolor{red}{HTML}{|red|}
\definecolor{orange}{HTML}{|orange|}
\definecolor{yellow}{HTML}{|yellow|}
\definecolor{green}{HTML}{|green|}
\definecolor{blue}{HTML}{|blue|}
\definecolor{magenta}{HTML}{|magenta|}
\definecolor{cyan}{HTML}{|cyan|}
\definecolor{d-red}{HTML}{|d-red|}
\definecolor{d-orange}{HTML}{|d-orange|}
\definecolor{d-yellow}{HTML}{|d-yellow|}
\definecolor{d-green}{HTML}{|d-green|}
\definecolor{d-blue}{HTML}{|d-blue|}
\definecolor{d-magenta}{HTML}{|d-magenta|}
\definecolor{d-cyan}{HTML}{|d-cyan|}

\usepackage{fancyhdr}
\pagestyle{empty}

\begin{document}

\pagecolor{bg0}
\phantom{}
\clearpage

\pagecolor{bg1}
\phantom{}
\clearpage

\pagecolor{bg2}
\phantom{}
\clearpage

\pagecolor{fg0}
\phantom{}
\clearpage

\pagecolor{fg1}
\phantom{}
\clearpage

\pagecolor{fg2}
\phantom{}
\clearpage

\pagecolor{red}
\phantom{}
\clearpage

\pagecolor{orange}
\phantom{}
\clearpage

\pagecolor{yellow}
\phantom{}
\clearpage

\pagecolor{green}
\phantom{}
\clearpage

\pagecolor{blue}
\phantom{}
\clearpage

\pagecolor{magenta}
\phantom{}
\clearpage

\pagecolor{cyan}
\phantom{}
\clearpage

\pagecolor{d-red}
\phantom{}
\clearpage

\pagecolor{d-orange}
\phantom{}
\clearpage

\pagecolor{d-yellow}
\phantom{}
\clearpage

\pagecolor{d-green}
\phantom{}
\clearpage

\pagecolor{d-blue}
\phantom{}
\clearpage

\pagecolor{d-magenta}
\phantom{}
\clearpage

\pagecolor{d-cyan}
\phantom{}
\clearpage

\end{document}
