set default-bg                  "{{l2}}"
set default-fg                  "{{d2}}"

set statusbar-fg                "{{l1}}"
set statusbar-bg                "{{c1}}"

set inputbar-bg                 "{{l1}}"
set inputbar-fg                 "{{c1}}"

set notification-bg             "{{d1}}"
set notification-fg             "{{l2}}"

set notification-error-bg       "{{d2}}"
set notification-error-fg       "{{red}}"

set notification-warning-bg     "{{d2}}"
set notification-warning-fg     "{{red}}"

set highlight-color             "{{d-orange}}"
set highlight-active-color      "{{d-cyan}}"

set completion-bg               "{{l1}}"
set completion-fg               "{{d2}}"

set completion-highlight-fg     "{{l1}}"
set completion-highlight-bg     "{{d2}}"

set recolor true
set recolor-lightcolor          "{{l2}}"
set recolor-darkcolor           "{{d2}}"
