set default-bg                  "{{d1}}"
set default-fg                  "{{l1}}"

set statusbar-fg                "{{d2}}"
set statusbar-bg                "{{c2}}"

set inputbar-bg                 "{{d2}}"
set inputbar-fg                 "{{c2}}"

set notification-bg             "{{l1}}"
set notification-fg             "{{d2}}"

set notification-error-bg       "{{l1}}"
set notification-error-fg       "{{d-red}}"

set notification-warning-bg     "{{l1}}"
set notification-warning-fg     "{{d-red}}"

set highlight-color             "{{orange}}"
set highlight-active-color      "{{cyan}}"

set completion-bg               "{{d2}}"
set completion-fg               "{{l1}}"

set completion-highlight-fg     "{{d2}}"
set completion-highlight-bg     "{{l1}}"

set recolor true
set recolor-lightcolor          "{{d1}}"
set recolor-darkcolor           "{{l1}}"
