#!/usr/bin/env sh

spacebar -m config background_color     0xFF{{l2}}
spacebar -m config foreground_color     0xFF{{d2}}
spacebar -m config space_icon_color     0xFF{{d-cyan}}
spacebar -m config power_icon_color     0xFF{{d-yellow}}
spacebar -m config battery_icon_color   0xFF{{d-red}}
spacebar -m config dnd_icon_color       0xFF{{d-magenta}}
spacebar -m config clock_icon_color     0xFF{{c1}}
